*{
    font-family: 'Oswald', sans-serif;
    text-transform: capitalize
}

.con{    
    width: 1170px;
    margin: auto
}

/* start header */

.cover{
    background-image: url(../image/cover.jpg);
    height: 600px;
}

.cover span{
    color: #fff;
    font-weight: bold;
    margin-top: 25px
}

.cover .text{
    color: #fff;
    text-align: center;
    margin-top: 20%
}

.cover .text h2{
    font-weight: bolder;
    font-size: 100px;
    margin-bottom: 0px
}

.cover .text p{
    font-weight: bold;
    margin-top: 0px;
    font-size: 25px;

}

/* end header */

/* start about us */

.about-us{
    overflow: hidden;
    margin-top: 150px;
    margin-bottom: 150px;
}

.about-us .holder .image img{
    float: left;
    width: 45%;
}

.about-us .holder .text{
    float: left;
    width: 45%;
    margin-left: 10%;
    margin-top: 20%
}

.about-us .holder .text h2{
    font-size: 50px;
    font-weight: bolder; 
}

.about-us .holder .text p{
    color: #7A766F;
    line-height: 1.7;
    margin-bottom: 25px
}

/* end about us */

/* start our-service */

.our-service{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #FAFAFA
}

.our-service .content{
    text-align: center;
}

.our-service .content h2{
    margin-bottom: 0px;
    font-size: 50px;
    font-weight: bolder
}

.our-service .content p{
    font-weight: bold;
    line-height: 1.7;
    color: #7A766F
}

.our-service .service{
    overflow: hidden;
    margin-top: 100px
}

.our-service .service .holder{
    float: left;
    width: 33.333333%;
    text-align: center;
    margin-bottom: 50px
}

.our-service .service .holder p{
    line-height: 1.7;
    color: #7A766F;
}

/* end our-service */

/* start our program */

.our-program {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px; 
}

.our-program .text{
    margin-bottom: 50px
}

.our-program .text h2{
    font-size: 50px;
    font-weight: bolder
}

.our-program .text p{
    line-height: 1.7;
    color: #7A766F;
}

.our-program img{
    width: 80%
}

/* end our program */

/* start our blog */
.our-blog{
    background-color: #65C0BA;
    padding-top: 100px;
    padding-bottom: 100px
}

.our-blog .text{
    text-align: center;
    margin-bottom: 75px
}

.our-blog .text p{
    line-height: 1.7;
}

.our-blog .blog{
    overflow: hidden;
}

.our-blog .blog .holder{
    float: left;
    width: 33.333333%;
}

.our-blog .blog .holder .image img{
    width: 375px;
    height: 250px
}

.our-blog .blog .holder .text{
    text-align: left;
    background-color: #fff;
    margin-right: 15px;
    height: 250px;
    padding-left: 35px
}

.our-blog .blog .holder .text p:first-of-type{
    margin-top: 0;
}

/* end our blog */


/* start customers */

.customers-review{
    background-color: #FAFAFA;
    padding-top: 100px;
    padding-bottom: 100px

}

.customers-review h2{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 75px
}

.customers-review .customers{
    overflow: hidden
}

.customers-review .customers .holder{
    float: left;
    width: 33.333333%
}

.customers-review .customers .holder .image img{
    width: 50px;
    height: 50px;
    border-radius: 50%
}

/* end customers */

/* start footer */

.footer{
    background-color: #1A1A1A;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer .content{
    overflow: hidden;
}

.footer .content .text{
    float: left;
    width: 25%;
    color: #7A766F
} 

.footer .content .text label{
    display: block
}

.footer .content .text input[type="text"]{
    background: none;
    border: none;
    border-bottom: solid #7A766F 1px;
    color: #fff
}

.footer .p{   
    text-align: center;
    margin-top: 50px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
}

/* end footer */











